* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
}

.flex-span {
  display: flex;
  flex-grow: 1;
}

.flex-button span,
.flex-delete span {
  width: 200px;
}
